<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" 
                              style="color: red; 
                                    font-weight: 600;
                                    background-color: #f8d7da; 
                                    padding: 10px; 
                                    border: 1px solid #f5c6cb; 
                                    border-radius: 5px; 
                                    margin: 10px;">
    <% resource.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  </div>
<% end %>
