<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'index.css', media: 'all', data: { turbolinks: false } %>
  </head>
<body>
    <header>
    hello
    </header>
    
    <main>
    
    </main>
    
    <footer>
    </footer>
  </body>
</html>