<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'index.css', media: 'all', data: { turbolinks: false } %>
  </head>
<body>
    <header>
      login | register | account
    </header>
    
    <main>
      <div class="wrapper">
        <img src="<%= asset_path('gradient.png') %>" alt="Background" class="image" />
        <h1>welcome</h1>
      </div>
    </main>
    
    <footer>
    </footer>
  </body>
</html>