/* app/assets/stylesheets/events.css */
.hls-player {
  max-width: 800px;
  margin: 2rem auto;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
}

.event-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  background: #2563eb;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}


/* EVENT CREATE */
.wrapper{
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  text-align-last: center;
}

.date-select, .time-select {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 0px;
}


.field-select select, textarea {
  color: white !important;
  text-align: center;
  text-align-last: center;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #282828;
  border-radius: 5px;
  font-size: 16px;
  background-color: #3f3f3f;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover, textarea:hover, input:hover{
  border: 1px solid #ffffff;
}

.error{
  color: red; 
  font-weight: 600;
  background-color: #f8d7da; 
  padding: 10px; 
  border: 1px solid #f5c6cb; 
  border-radius: 5px; 
  margin: 10px;
}