/*
*= require_tree .
*/

html {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background */
    background-color: #000000;
    /* background-image: url('gradient1.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    /* border: solid red 3px; */
    /* filter: blur(5px); */
    /* backdrop-filter: blur(30px) hue-rotate(10deg) brightness(1.2); */
    /* background-color: rgb(253, 0, 136); */
    border: solid 5px white;
    border-radius: 2ppx;
    margin-top: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 25vw;
    height: 40px;
}


.wrapper {
    margin-top: 1em;
    position: relative; /* Make the wrapper a positioned container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit:fill;
    z-index: 1;
}

.wrapper h1 {
    position: absolute; /* Position the text over the image */
    color: white;
    font-size: 3rem;
    z-index: 2; /* Ensure the text is above the image */
    text-align: center;
}