html{
    background-image: linear-gradient(
        #ea00656b -10%,
        rgb(0, 0, 0) 60%
    );
}

main{
    height: 80vh;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

header{
    box-shadow: 0 5px 70px 10px black;
}

/* Style for video */
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

video{
    width: 1480px;
    /* border: solid 5px #ad00dc; */
    background: #000;
    border-radius: 30px;
}

.video-ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* UNDER VIDEO */
.video-footer{
    width: 100%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 0.5em
}

.live-title{
    flex: 1;
    align-items: start !important;
}

.live-button:hover, .footer-container:hover, .live-title:hover{
    background-color: rgb(253, 0, 136);
    border: solid 5px rgb(253, 0, 136);
    color: rgb(255, 255, 255);
}

.live-button:active{
    transition: 0.1s;
    border: solid 5px rgb(255, 255, 255);
    scale: 110%;
}
